<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Construction and Demolition Waste Management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginPage</display-name>
    <servlet-name>loginPage</servlet-name>
    <servlet-class>loginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginPage</servlet-name>
    <url-pattern>/loginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVehicle</display-name>
    <servlet-name>AddVehicle</servlet-name>
    <servlet-class>AddVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVehicle</servlet-name>
    <url-pattern>/AddVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVehicle</display-name>
    <servlet-name>UpdateVehicle</servlet-name>
    <servlet-class>UpdateVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVehicle</servlet-name>
    <url-pattern>/UpdateVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRegisteration</display-name>
    <servlet-name>NewRegisteration</servlet-name>
    <servlet-class>NewRegisteration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRegisteration</servlet-name>
    <url-pattern>/NewRegisteration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RaiseCnd</display-name>
    <servlet-name>RaiseCnd</servlet-name>
    <servlet-class>RaiseCnd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RaiseCnd</servlet-name>
    <url-pattern>/RaiseCnd</url-pattern>
  </servlet-mapping>
</web-app>