<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Black Spot Detection</display-name>
  <welcome-file-list>
    <welcome-file>adminLogin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>blackspotdetection.services.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStation</display-name>
    <servlet-name>AddStation</servlet-name>
    <servlet-class>blackspotdetection.services.AddStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStation</servlet-name>
    <url-pattern>/AddStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteStation</display-name>
    <servlet-name>deleteStation</servlet-name>
    <servlet-class>blackspotdetection.services.deleteStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStation</servlet-name>
    <url-pattern>/deleteStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginStation</display-name>
    <servlet-name>LoginStation</servlet-name>
    <servlet-class>blackspotdetection.services.LoginStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStation</servlet-name>
    <url-pattern>/LoginStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBlackSpot</display-name>
    <servlet-name>AddBlackSpot</servlet-name>
    <servlet-class>blackspotdetection.services.AddBlackSpot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBlackSpot</servlet-name>
    <url-pattern>/AddBlackSpot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>blackspotdetection.services.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginUser</display-name>
    <servlet-name>loginUser</servlet-name>
    <servlet-class>blackspotdetection.services.loginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginUser</servlet-name>
    <url-pattern>/loginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSpot</display-name>
    <servlet-name>DeleteSpot</servlet-name>
    <servlet-class>blackspotdetection.services.DeleteSpot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSpot</servlet-name>
    <url-pattern>/DeleteSpot</url-pattern>
  </servlet-mapping>
</web-app>